/* Space out content a bit */
/*custom 230101 */
body {
  padding-top: 20px;
}

img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer,
.content,
.comment {
  padding-left: 5px;
  padding-right: 5px;
}
.nav-pills{
    display:none;
}
/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  margin-top:40px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
.header .text-muted  a{
    color:#999;
    text-decoration:none;
}
.entry-content{
    padding:5px 0 15px;;
    line-height:1.8;
}
.hentry{
    margin-bottom:18px;
}
.pager{
    margin-bottom:30px;
}
.pager ul{
    margin:0;
    padding:0;
}
.post-info{
    padding-bottom:30px;
}
.post-info address{
    display:inline;
}
.comment{
    padding-top:15px;
    padding-bottom:15px;
}
.archive-list li{
    font-size:16px;
    margin-bottom:10px;
}
.bottom-nav{display:none;}
.bottom-nav a{margin-left:15px;}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .content,
  .footer,
  .comment {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
 .nav-pills,.bottom-nav{
    display:block;
 }
}
